{% extends "website/base.html" %}

{% block titleblock %}Home{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="row opacity-8">
  <div class="col-md-8">
    <div class="card card-tertiary">
      <div class="card-body lead">
        <div class="card-title">
          <h6>Reality == Chaos</h6>
        </div>
        <hr />
      <P>
        DrasticalMUD is running Evennia with a bunch of classic ROM/Diku/SMAUG areas imported (and in the works!).
        There is no real game system yet, although there are a few puzzles, and undergoing continuous development.
        Hopefully this will evolve out of a sandbox into something actually playable.
        <BR/>
        We are listed on and participate in <a href="https://grapevine.haus/" class="highlight-link">Grapevine</a> listings and chat.
      </P>
          {% if webclient_enabled %}
        <p>
          You can connect to the game directly from your browser using our
          <a href="{% url 'webclient:index' %}">online client</a>!<br>
        </p>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row opacity-8">
  <div class="col-12 col-md-4 mb-3">
    <div class="card card-tertiary">
      <h4 class="card-header text-center">Accounts</h4>

      <div class="card-body">
        <p>
          There's currently <strong>{{num_accounts_connected}}</strong> connected out of a total of <strong>{{num_accounts_registered}}</strong> account{{num_accounts_registered|pluralize}} registered.
        </p>
        <p>
          Of these, <strong>{{num_accounts_registered_recent}}</strong> were created this week, and <strong>{{num_accounts_connected_recent}}</strong> have connected within the last seven days.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card card-tertiary">
      <h4 class="card-header text-center">Recently Connected</h4>

      <div class="card-body px-0 py-0">
        <ul class="list-group">
          {% for account in accounts_connected_recent %}
            <li class="list-group-item">{{account.username}}&mdash;<em>{{account.last_login|timesince}} ago</em></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div class="card card-tertiary">
      <h4 class="card-header text-center">Database Stats</h4>

      <div class="card-body py-0 px-0">
        <ul class="list-group">
          <li class="list-group-item">{{num_accounts_registered}} account{{num_accounts_registered|pluralize}} (+ {{num_characters}} character{{num_characters|pluralize}})</li>
          <li class="list-group-item">{{num_rooms}} room{{num_rooms|pluralize}} (+ {{num_exits}} exits)</li>
          <li class="list-group-item">{{num_others}} other objects</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">

  </div>
</div>
{% endblock %}
