{% extends "website/base.html" %}
{% block content %}

    {% block titleblock %}Player Stats{% endblock %}

<div class="container">
        <div class="col-xs-8 align-center card card-tertiary" style="width: 50%;">
            <div class="card card-header"><h4>{{ character.name }}</h4></div>
            <div class="card card-body">
                <p class="lead">{{ character.db.desc }}</p>

                <table class="col-10">
                    <thead>
                        <tr>
                            <th class="col-6">stat</th>         <th class="col-2">value</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr><td class="col-6">Gold</td>           <td class="col-2">{{ gold }}</td></tr>
                            <tr><td class="col-6">World Explored</td> <td class="col-2">{{ totalpct }} %</td></tr>
                            <tr><td class="col-6">Rooms Claimed</td>   <td class="col-2">{{ claims }}</td></tr>
                            <tr><td class="col-6">Takeovers</td>      <td class="col-2">{{ takeovers }}</td></tr>
                            <!-- tr><td>Gems</td>           <td>-</td></tr -->
                    </tbody>
                </table>

            <hr />

                <table class="col-10">
                    <thead>
                    <tr>
                        <th>area</th> <th>owned</th> <th>seen</th> <th>total</th>
                    </tr>
                    </thead>
                <tbody>
                    {%  for area in explored %}
                        <tr>
                            <td>{{  area.name }}</td> <td>{{  area.owned }}</td> <td>{{  area.seen }}</td>  <td>{{  area.total }}</td></tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}