{% extends "website/base.html" %}

{% block titleblock %}Areas{% endblock %}


{% block header_ext %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="card card-tertiary" style="width: 50%;">
            <div class="card card-header"><h6>Top Players</h6></div>
            <div class="card card-body">
                <table>
                    <thead>
                        <th scope="col" class="col-xs-3">player name</th> <th scope="col" class="col-xs-1 text-right">world seen</th> <th scope="col" class="text-right">rooms owned</th> <th scope="col" class="col-xs-1 text-right">gold</th>
                    </thead>
                    {% for s in stats %}
                        <tr>
                            {% autoescape off %}
                            <td><a href="/player/{{ s.name }}">{{ s.dname }}</a></td><td class="text-right">{{ s.pct_seen }}%</td><td class="text-right">{{ s.owned }}</td><td class="text-right">{{ s.gold }}</td>
                            {% endautoescape %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}}
